<div id="sets" class="panel">
  <%= partial 'sets' if @sets %>
</div>
<div id="photos" class="panel">
  <%= partial 'photos' if @photos %>
</div>
<div id="photo" class="panel">
  <%= partial 'photo' if @photo %>
</div>
