<h1><%= @set.name %></h1>
<%= erb :'_set', locals: { set: @set.prev } if @set.prev %>
<%= erb :'_set', locals: { set: @set.next } if @set.next %>
<% if @photos.any? %>
  <ol>
    <% @photos.each do |photo| %>
      <li><%= erb :'_photo', locals: { photo: photo } %></li>
    <% end %>
  </ol>
<% end %>
