body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00f;
}

.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 219px;
}

#photos {
  left: 219px;
  overflow-y: scroll;
}

#photo {
  left: 438px;
  width: auto;
}

#sets ol, #photos ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sets a, #photos a {
  border: 2px solid #fff;
}

#sets .active, #photos .active {
  border-color: red;
}

.thumb {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

.thumb h2 {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 5px 10px;
  width: 180px;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.set.thumb p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5px;
  font-size: 11px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

#photo-details {
  font-size: 13px;
  clear: right;
}

#photo-details th {
  text-align: right;
  padding: 5px 10px;
  background: #ccc;
}

#photo-details td {
  padding: 5px 10px;
  background: #eee;
}

.big-thumb {
  float: left;
}
