body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00f;
}

h1 {
  margin: 20px 10px 10px;
}

#pane {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.thumbs {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 5px;
}

.thumbs li {
  float: left;
  margin: 5px;
}

.thumb {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

.thumb h2 {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 5px 10px;
  width: 180px;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.set.thumb p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5px;
  font-size: 11px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

#photo {
  padding: 40px;
  text-align: center;
}

#prev-photo {
  left: 0;
  position: fixed;
  top: 0;
}

#parent-set {
  bottom: 0;
  left: 0;
  position: fixed;
}

#next-photo {
  position: fixed;
  right: 0;
  top: 0;
}

#details {
  font-size: 13px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 200px;
}

#details li {
  margin: 4px 0;
}

#details .aperture span {
  font-family: Trebuchet MS, Candara, Georgia, Calibri, Corbel, serif;
  font-style: italic;
}

#map {
  height: 200px;
  margin: 20px auto 0;
  width: 400px;
}
