body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00f;
}

h1 {
  margin: 20px 10px 10px;
}

#pane {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.thumbs {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 5px;
}

.thumbs li {
  float: left;
  margin: 5px;
}

.thumb {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

.thumb h2 {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 5px 10px;
  width: 180px;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.set.thumb p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5px;
  font-size: 11px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

#photo-nav {
  background-color: #212121;
  padding-bottom: 40px;
}

#parent-set {
  display: block;
  height: 40px;
}

#photo-nav-inner {
  position: relative;
  text-align: center;
}

#prev-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}

#next-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}

#photo-meta {
  margin: auto;
  overflow: auto;
  padding: 20px;
  width: 1000px;
}

#details {
  float: left;
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#details li {
  margin: 4px 0;
}

#details .aperture span {
  font-family: Trebuchet MS, Candara, Georgia, Calibri, Corbel, serif;
  font-style: italic;
}

#map {
  background-color: #ddd;
  float: right;
  height: 225px;
  width: 450px;
}

#map.no-data {
  color: #666;
  font-size: 13px;
  line-height: 225px;
  text-align: center;
}

#map span {
  display: none;
}

#map.no-data span {
  display: inline;
}
